@charset "UTF-8";

html, body {
	/*margin: 0;
	padding: 0;*/
}

a img {
	border: 0;
}

section {
	max-width: 50em;
	border: 1px solid rgba(127, 127, 127, 0.5);
	padding: 1em;
	margin: 1em;
}
section > :first-child {
	margin-top: 0;
}
section > :last-child {
	margin-bottom: 0;
}
section p {
	text-indent: 2em;
	margin: 1em 0;
	text-align: justify;
}
section h1 {
	font-size: 2em;
}
section h2 {
	font-size: 1.5em;
}
section h3 {
	font-size: 1.2em;
}

.logout {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	white-space: nowrap;

	padding: 0.25em 0.5em;
	font-family: sans-serif;
}
.logout a {
	text-decoration: none;
}
.logout a:active,
.logout a:hover {
	text-decoration: underline;
}


/* This style is based on "wall.css", but is just for the homepage.  */

.note {
	position: absolute;
	border-width: 1px;
	border-style: solid;

	font-size: 2em;

	overflow: hidden;
}
.note.title {
	background: #FFFF80;
	border: 1px solid #EEEE00;
	color: black;

	font-weight: bold;

	top: 1em;
	left: 1em;
	width: 4em;
	height: 4em;
}
.note.subtitle {
	background: #A0FFA0;
	border: 1px solid #80EE80;
	color: black;

	top: 1.5em;
	left: 6em;
	width: 10em;
	height: 4em;
}
.note.documentation {
	background: #FFA0A0;
	border: 1px solid #EE8080;
	color: black;

	top: 6em;
	left: 2em;
	width: 8em;
	height: 8em;
}
.note.login {
	background: #A0D0FF;
	border: 1px solid #80A0EE;
	color: black;

	top: 7em;
	left: 9em;
	width: 8em;
	height: 8em;
}

.note.back {
	background: #A0FFA0;
	border: 1px solid #80EE80;
	color: black;

	font-size: 1em;
	text-align: center;

	top: 0;
	right: 0;
	width: 4em;
	height: 1.5em;
}
