@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}


.links {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	white-space: nowrap;

	padding: 0.25em 0.5em;
	font-family: sans-serif;
	text-align: right;
}
.links a {
	text-decoration: none;
}
.links a:active,
.links a:hover {
	text-decoration: underline;
}


.wall {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;

	background: #EEEEEE;
	/*border: 1px inset #DDDDDD;*/
	overflow: auto;
}


#reload_button {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	padding: 0;
	opacity: 0.5;
}
#reload_button img,
#reload_button object {
	width: 24px;
	height: 24px;
}
#reload_button:hover {
	opacity: 1.0;
}


#trash_icon {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10;

	width: 32px;
	height: 32px;

	background: url(../icons/edit-delete.svg) center center no-repeat;
	background-size: 100% 100%;

	transition-property: width, height;
	transition-duration: 250ms;
	-moz-transition-property: width, height;
	-moz-transition-duration: 250ms;
	-o-transition-property: width, height;
	-o-transition-duration: 250ms;
	-webkit-transition-property: width, height;
	-webkit-transition-duration: 250ms;
}
.there_is_a_note_being_dragged #trash_icon {
	width: 48px;
	height: 48px;
}
.there_is_a_note_being_dragged.something_is_being_dragged_to_the_trash #trash_icon {
	width: 96px;
	height: 96px;
}


/* All notes are inside .wall */

.note {
	position: absolute;
	border-width: 1px;
	border-style: solid;

	/* Hidden by design. If something doesn't fit, it simply can't be
	 * displayed, just like a real paper note.
	 */
	overflow: hidden;
}
.note p.text {
	margin: 0;
	white-space: pre-wrap;
}

.note.being_dragged {
	opacity: 0.66;
}
.something_is_being_dragged_to_the_trash .note.being_dragged {
	opacity: 0.33;
}

.note.being_edited {
	overflow: visible;
}
.note.being_edited p.text {
	display: none;
}
.note.being_edited textarea#text_textarea {
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	font: inherit;
	color: inherit;
	background: transparent;
}


#edit_toolbar {
	display: none;
}
.note.being_edited #edit_toolbar {
	display: block;
	position: absolute;
	left: 0;
	bottom: 100%;
	white-space: nowrap;
}


#resize_interface {
	display: block;
	position: absolute;
	top: 0;
	left: 0;

	overflow: visible;
}
#resize_interface .size {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: -1px;
	margin-top: -1px;

	background: transparent;
	border: 1px dotted red;

	cursor: se-resize;
}
#resize_interface .size:hover {
	background: rgba(255, 255, 255, 0.5);
	border-style: solid;
}


/* Different note colors/styles: */
.note,  /* .yellow is the default color */
.note.yellow {
	background: #FFFF80;
	border: 1px solid #EEEE00;
	color: black;
}
.note.pink {
	background: #FF80FF;
	border: 1px solid #EE00EE;
	color: black;
}
.note.red {
	background: #FFA0A0;
	border: 1px solid #EE8080;
	color: black;
}
.note.green {
	background: #A0FFA0;
	border: 1px solid #80EE80;
	color: black;
}
.note.blue {
	background: #A0D0FF;
	border: 1px solid #80A0EE;
	color: black;
}
