<!DOCTYPE html>
{# vi:set filetype=htmldjango : #}
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Sticky Note Wall</title>
<link type="text/css" rel="stylesheet" href="/css/static_pages.css">

</head>
<body>

<nav class="note back">
	<a href="/">← Back</a>
</nav>

<hgroup>
	<h1>Sticky Note Wall</h1>
	<h2>Because sometimes all you need is a wall to place sticky notes</h2>
</hgroup>

<section>
	<h1 id="authors">Credits</h1>

	<p>Written by <a href="https://profiles.google.com/denilsonsa">Denilson Figueiredo de Sá</a> (<a href="mailto:denilsonsa@gmail.com">denilsonsa@gmail.com</a>).<p>
	<p>Uses images from <a href="http://tango.freedesktop.org/Tango_Icon_Library">Tango Icon Library</a>.</p>
</section>

<section>
	<h1 id="about">About</h1>

	<p>This is my first <a href="http://code.google.com/appengine/">Google App Engine</a> project. I wrote it for my own needs, but I hope it will be useful for other people as well. The first usable version was completed in one week, during which I learned a lot about both <em>Google App Engine</em> as well as new developments of HTML5, CSS3 and JavaScript. I've also asked <a href="http://stackoverflow.com/questions/6767128/what-format-mime-type-should-i-use-for-html5-drag-and-drop-operations">two</a> <a href="http://stackoverflow.com/questions/6773481/how-to-get-the-mouseevent-coordinates-for-an-element-that-has-css3-transform">questions</a> at Stack Overflow.</p>

	<p>I plan to gradually migrate the data whenever I make structural changes. However, I don't promise things won't broke. I'll try my best, though.</p>

	<p>If someday far in future I implement any mail sending feature, I'll e-mail you once, and let you opt-out of all e-mails. Most likely I'll e-mail you only if I need to make big changes to this application. I promise I won't send spam.</p>
</section>

<section>
	<h1 id="objectives">Objectives</h1>

	<ul>
		<li>This application must be simple to use.</li>
		<li>This application must be easy to use.</li>
		<li>This application must be intuitive to use.</li>
		<li>This application must be fun to use.</li>
		<li>This application gives you the virtual equivalents of a sticky note, a pen and a wall. Everything else is up to you.</li>
	</ul>
</section>

<section>
	<h1 id="how_to">How to use...</h1>

	<ul>
		<li>Double-click the background to create a new sticky note.</li>
		<li>Double-click a sticky note to edit it.</li>
		<li>Drag and drop to move or delete a sticky note.</li>
		<li>Drag and drop text from other programs to create a new sticky note with the dropped text.</li>
	</ul>
</section>

<section>
	<h1 id="motivation">Motivation</h1>

	<p>At my previous work at <a href="http://www.vialink.com.br/">Vialink</a>, we used <a href="http://en.wikipedia.org/wiki/Scrum_(development)">Scrum</a> while developing software. It worked pretty well for us. However, when I left the company in order to finish my graduation, I immediately missed one thing: our <em>task board</em>, or <em>Sticky Note Wall</em>.</p>

	<h2 id="scrum">Scrum</h2>

	<p>In our development process, we wrote <a href="http://en.wikipedia.org/wiki/User_story">user stories</a> in <a href="http://en.wikipedia.org/wiki/Index_card">index cards</a>, and taped those to a wall. Then, for each story, we wrote down tasks in small <a href="http://en.wikipedia.org/wiki/Post-it_note">colored sticky notes</a>, one note for each task. Finally, each task was attached to the wall, roughly aligned at the same row as its corresponding story. The wall was divided in 3 columns: <em>TODO</em>, <em>DOING</em> and <em>DONE</em>. (I must insert a photo of our wall here!)</p>

	<p>Obviously, all tasks started at the <em>TODO</em> column. As developers, we picked up a task to do, moved it to the <em>DOING</em> column, and then started implementing it. Usually, each one of us picked up one task, but sometimes more than one person was tackling the same task. When the task was finally finished, it was moved to the <em>DONE</em> column, and the developer picked up another task to do.</p>

	<h2 id="advantages">Analysing the advantages of the <em>sticky note wall</em></h2>

	<p>Please take a moment to notice how simple and how cheap this is. We don't need anything expensive: all we need a wall, some tape, a pen, some index cards, and a box of sticky notes. Unless you work at the beach, I bet you have a wall near you; and all other objects can be bought for 10 bucks or less.</p>

	<p>The process of creating a new task is simple and fast: just write down what needs to be done at a sticky note and stick it to the wall. The process of picking up a task and later marking it as done couldn't be easier: just grab the note and place it at somewhere else. If we later realize that a task doesn't make sense anymore, just throw it away.</p>

	<p>And albeit being extremely cheap and simple, it works incredibly well.</p>

	<p>At any moment in time, anyone has clear summary of the state of the project. How much has been completed? How much still needs to be done? What is the team currently focused at? All these questions are easily answerable by just looking at the wall. In addition, there is a clear goal of the objective, and how far the team is from reaching it.</p>

	<p>For an individual standpoint, it also has important psychological effects. What is not <em>DOING</em> should not be worried about. Each developer is psychologically freed to focus on one task, and nothing more. How about the other tasks? We will worry about them later, when they reach the <em>DOING</em> column. And we will not forget them, as they are still in the wall. Until then, let's ignore them and focus on one task.</p>

	<p>What's more, if the person gets interrupted for whatever reason (lunch break, meeting, end of the day, …) and loses focus, it is easy to remember what he/she was doing by just looking at what task is at <em>DOING</em> column. (Personally, when I get back to work on the next day, I usually don't remember what task I was doing at the previous day.)</p>

	<p>Still in the psychological effects, every task that is moved to the <em>DONE</em> column gives a sense of achievement, a warm feeling that boosts self-motivation and team-motivation.</p>

	<p>Since the wall is a 2-dimensional space, the position of each task at the wall is a spatial information, and humans tend to have a good spatial memory.</p>

	<p>And, of course, those bright colored pieces of paper at the wall are a visual stimulus that probably improves creativity and motivation. And they are fun! Attaching and moving bright pieces of color at the wall is a fun activity.</p>

	<h2 id="project_management_software">Other project management software</h2>

	<p>Before writing this web application, I've experimented other tools.However, none of them fulfilled my expectations.</p>

	<p>There are some complex agile management systems that are too complicated. Some of them require the user to create a new account, while others accept authentication using OpenID or Google Account. After that, the user must add a new project, with description and so on. And then add a sprint. And then add stories. And then add tasks. And the user should set up the start and end date for the sprint. And also the expected cost of the stories and tasks. And the roles for each user.</p>

	<p>Well, those are really good systems, very well designed and well modeled. However, they are not agile. They are bureaucratic. They are complicated. They are slow to use. They are difficult to use.</p>

	<p>I want something simple. I want something I may use to manage my own single-person projects. I want something so simple that I don't need to think about how to use it.</p>

	<h2 id="note_taking_software">Other note-taking software</h2>

	<p>Then I decided to look for note-taking applications and sites. Again, no one of them fulfilled my needs.</p>

	<p>One of them allowed storing all kinds of notes, and organized notes into notebooks, and had support for tags, and had search, and even allowed synchronization with a mobile application from the same site. Lots of features, right? But it missed one very important point: spatial information. The notes were just items in some kind of list. Not what I want.</p>

	<p>I want something that has "physical" square-ish things that I can move around.</p>

	<p>One offline note-taking application was very powerful, allowing wiki-like syntax, rich text formatting and even inter-note linking. It was so powerful that the notes had to have a toolbar. Way too much features, way too much noise.</p>

	<p>Another supposedly simple note-taking web application asked me to fill a form to sign up for them, requiring me to create a new account and yet another password. I don't even know what features this site had, as I didn't bother to sign up.</p>

	<p>And there was at least two note-taking web applications that were quite simple, but still not good enough. The note size was so big that it left lots of blank space after I wrote down a task, and also so big that I couldn't fit more than a few of them in my screen. One of them lacked the color choice, and the other one had a poor interface for changing colors.</p>

	<h2 id="write_my_own">Finally...</h2>
	<p>After looking for alternatives, I've finally decided that I no one is good enough for my needs, and it's time to write my own application!</p>
</section>

<section>
	<h1 id="design_choices">Design choices</h1>

	<ul>
		<li>No registration needed, just sign up using your Google Account.</li>
		<li>Sticky notes are the most important thing. Get everything else out of the way.</li>
		<li>Less is more. Less features means:
			<ul>
				<li>Less <a href="http://en.wikipedia.org/wiki/Software_bloat">bloat</a></li>
				<li>Easier user interface</li>
				<li>Maintainable source-code</li>
				<li>Releasing the first usable version faster</li>
			</ul>
		</li>
		<li>A little bit of eye-candy is okay (if it is simple to implement).</li>
		<li>User interaction is not buffered, it is always sent to the server.
			<ul>
				<li>A lot simpler to write.</li>
				<li>Avoids all kinds of synchronization issues.</li>
				<li>Allowed me write the whole application in very short time.</li>
				<li>Gets slower when the network latency increases.</li>
			</ul>
		</li>
		<li>All sizes and coordinates are measured in pixels.
			<ul>
				<li>It works predicably.</li>
				<li>A lot simpler to write.</li>
			</ul>
		</li>
		<li>It will work on modern browsers.
			<ul>
				<li>No support for older browser versions.</li>
				<li>No fallback for missing features on some browsers.</li>
			</ul>
		</li>
		<li>No external JavaScript library is used.
			<ul>
				<li>Just plain new HTML5 + CSS3 + JavaScript.</li>
				<li>Shows what modern technologies are capable of.</li>
				<li>Shows it is possible and feasible to write plain JavaScript code without aid of extra libraries.</li>
				<li>No support for older browser versions.</li>
				<li>No fallback for missing features on some browsers.</li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h1 id="future_features">Future features</h1>

	<p>These are features that I've thought about implementing, but I don't know when.</p>

	<ul>
		<li>Support for exporting and importing notes.</li>
		<li>Support for multiple <em>walls</em> per user (so each wall could contain tasks from different projects).
			<ul>
				<li>Each wall should have a unique URL.</li>
				<li>Moving/copying a note between walls.</li>
				<li>Sharing a wall with another user.</li>
			</ul>
		</li>
		<li>User preferences
			<ul>
				<li>Default note size</li>
				<li>Default note color</li>
				<li>Adding custom colors</li>
			</ul>
		</li>
		<li>Adding "themes", with notes that look like notes (instead of just bordered rectangles).</li>
		<li>Adding support for multiple text sizes and styles.</li>
		<li>Adding support for <a href="http://www.w3.org/TR/css3-ui/#resize">CSS3 <code>resize</code></a> property.</li>
	</ul>
</section>

<section>
	<h1 id="tech">Technologies and software used in this project</h1>

	<h2 id="tech_developer_side">Developer-side (in my computer):</h2>
	<ul>
		<li><a href="http://www.vim.org/">Gvim</a> text editor</li>
		<li><a href="http://mercurial.selenic.com/">Mercurial</a> source control</li>
		<li><a href="http://www.gimp.org/">GIMP</a> image editor</li>
		<li><a href="http://www.inkscape.org/">Inkscape</a> vector graphics editor</li>
	</ul>

	<h2 id="tech_server_side">Server-side (in Google's computers):</h2>
	<ul>
		<li><a href="http://code.google.com/appengine/">Google App Engine</a></li>
		<li><a href="http://www.python.org/">Python</a></li>
	</ul>

	<h2 id="tech_client_side">Client-side (in your computer):</h2>
	<dl>
		<dt>CSS</dt>
		<dd><a href="http://www.w3.org/TR/CSS21/">Cascading Style Sheets Level 2 Revision 1 (CSS 2.1) Specification</a></dd>
		<dd><a href="http://www.w3.org/TR/css3-background">CSS Backgrounds and Borders Module Level 3</a></dd>
		<dd><a href="http://www.w3.org/TR/css3-color/">CSS Color Module Level 3</a></dd>
		<dd><a href="http://www.w3.org/TR/css3-selectors/">Selectors Level 3</a></dd>
		<dd><a href="http://www.w3.org/TR/css3-transitions/">CSS Transitions Module Level 3</a></dd>
		<dd><a href="http://www.w3.org/TR/css3-ui/">CSS3 Basic User Interface Module</a></dd>

		<dt>HTML</dt>
		<dd><a href="http://www.w3.org/TR/html5/">HTML5</a></dd>

		<dt>SVG</dt>
		<dd><a href="http://www.w3.org/Graphics/SVG/">Scalable Vector Graphics</a></dd>

		<dt><code>classList</code></dt>
		<dd><a href="http://www.w3.org/TR/html5/elements.html#dom-classlist">Elements — HTML5</a></dd>
		<dd><a href="http://www.w3.org/TR/html5/common-dom-interfaces.html#domtokenlist">Common DOM interfaces — HTML5</a></dd>
		<dd><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/elements.html#dom-classlist">Elements — HTML Standard</a></dd>
		<dd><a href="https://developer.mozilla.org/En/DOM/element.classList">element.classList - MDN Docs</a></dd>

		<dt><code>dataset</code> and custom data-* attributes</dt>
		<dd><a href="http://www.w3.org/TR/html5/elements.html#embedding-custom-non-visible-data-with-the-data-attributes">Embedding custom non-visible data with the data-* attributes — HTML5</a></dd>
		<dd><a href="https://developer.mozilla.org/En/DOM/element.dataset">element.dataset - MDN Docs</a></dd>
		<dd><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=560112">Bug 560112 - Implement HTML5 dataset attribute</a></dd>

		<dt>Drag and Drop</dt>
		<dd><a href="http://www.w3.org/TR/html5/dnd.html">Drag and drop — HTML5</a></dd>
		<dd><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/dnd.html">Drag and drop — HTML Standard</a></dd>
		<dd><a href="https://developer.mozilla.org/En/DragDrop/Drag_Operations">Drag Operations - MDN Docs</a></dd>
		<dd><a href="https://developer.mozilla.org/En/DragDrop/DataTransfer">DataTransfer - MDN Docs</a></dd>
		<dd><a href="http://www.html5rocks.com/en/tutorials/dnd/basics/">Native HTML5 Drag and Drop</a></dd>

		<dt><code>FormData</code></dt>
		<dd><a href="http://www.w3.org/TR/XMLHttpRequest2/#the-formdata-interface">XMLHttpRequest Level 2</a></dd>
		<dd><a href="https://developer.mozilla.org/En/XMLHttpRequest/FormData">FormData - MDN Docs</a></dd>
		<dd><a href="https://developer.mozilla.org/En/XMLHttpRequest/Using_XMLHttpRequest#Using_FormData_objects">Using FormData objects - MDN Docs</a></dd>

		<dt><code>getBoundingClientRect</code>, <code>clientLeft</code> and <code>clientTop</code></dt>
		<dd><a href="http://www.w3.org/TR/cssom-view/#extensions-to-the-element-interface">CSSOM View Module</a></dd>
		<dd><a href="https://developer.mozilla.org/En/DOM/element.getBoundingClientRect">element.getBoundingClientRect - MDN Docs</a></dd>
		<dd><a href="https://developer.mozilla.org/En/DOM/element.clientLeft">element.clientLeft - MDN Docs</a></dd>
		<dd><a href="https://developer.mozilla.org/En/DOM/element.clientTop">element.clientTop - MDN Docs</a></dd>

		<dt><code>innerHTML</code> (AKA the fastest way to wipe the contents of an element)</dt>
		<dd><a href="http://www.w3.org/TR/html5/apis-in-html-documents.html#innerhtml">APIs in HTML documents — HTML5</a></dd>
		<dd><a href="https://developer.mozilla.org/En/DOM/element.innerHTML">element.innerHTML - MDN Docs</a></dd>

		<dt><code>MouseEvent.clientX</code> and <code>MouseEvent.clientY</code></dt>
		<dd><a href="http://www.w3.org/TR/DOM-Level-2-Events/events.html#Events-eventgroupings-mouseevents">Document Object Model (DOM) Level 2 Events Specification</a></dd>
		<dd><a href="https://developer.mozilla.org/En/DOM/Event/UIEvent/MouseEvent">MouseEvent - MDN Docs</a></dd>

		<dt><code>querySelectorAll</code> and <code>querySelector</code></dt>
		<dd><a href="http://www.w3.org/TR/selectors-api/">Selectors API Level 1</a></dd>
		<dd><a href="https://developer.mozilla.org/En/DOM/Document.querySelectorAll">document.querySelectorAll - MDN Docs</a></dd>
		<dd><a href="https://developer.mozilla.org/En/DOM/Document.querySelector">document.querySelector - MDN Docs</a></dd>

		<dt><code>XMLHttpRequest</code></dt>
		<dd><a href="http://www.w3.org/TR/XMLHttpRequest/">XMLHttpRequest</a></dd>
		<dd><a href="https://developer.mozilla.org/En/XMLHttpRequest">XMLHttpRequest - MDN Docs</a></dd>
		<dd><a href="https://developer.mozilla.org/En/XMLHttpRequest/Using_XMLHttpRequest">Using XMLHttpRequest - MDN Docs</a></dd>

		<dt><code>textContent</code></dt>
		<dd><a href="http://www.w3.org/TR/DOM-Level-3-Core/core.html#Node3-textContent">Document Object Model (DOM) Level 3 Core Specification</a></dd>
		<dd><a href="https://developer.mozilla.org/En/DOM/Node.textContent">Node.textContent - MDN Docs</a></dd>
	</dl>
</section>

<section>
	<h1 id="thanks">Acknowledgements</h1>

	<ul>
		<li><a href="http://about.me/gchapiewski">Guilherme Chapiewski</a>, for help us starting with <a href="http://en.wikipedia.org/wiki/Scrum_(development)">Scrum</a> at <a href="http://www.vialink.com.br/">Vialink</a>.</li>
		<li><a href="http://viniciusteles.com.br/">Vinícius Manhães Teles</a>, for spreading out <a href="http://en.wikipedia.org/wiki/Extreme_Programming">Extreme Programming</a> at <a href="http://www.ufrj.br/">UFRJ</a> and in Brazil.</li>
		<li>All people from <a href="http://www.vialink.com.br/">Vialink</a>, in special Claudio Abreu, Marcelo Salhab, Patrícia Borges, Larissa Torres.</li>
	</ul>
</section>

</body>
</html>
