<!DOCTYPE html>
{# vi:set filetype=htmldjango : #}
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Sticky Note Wall</title>
<link type="text/css" rel="stylesheet" href="/css/notewall.css">

</head>
<body>

<div class="logout"><a href="{{ logout_url }}">Logout</a> from <em>{{ user.nickname }}</em></div>

<div class="wall">
</div>

<div id="trash_icon" title="Drag a note here to delete it"></div>

<button type="button" id="reload_button" title="Reload notes"><img src="/icons/view-refresh.svg" alt="Reload"></button>

<div id="edit_toolbar">
	<select id="note_color">
		<option value="yellow">Yellow</option>
		<option value="pink">Pink</option>
		<option value="red">Red</option>
		<option value="green">Green</option>
		<option value="blue">Blue</option>
	</select>
	<button type="button" id="resize_note_button">Resize</button>
</div>

<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>
