<!DOCTYPE html>
{# vi:set filetype=htmldjango : #}
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Sticky Note Wall</title>
<link type="text/css" rel="stylesheet" href="/css/notewall.css">

</head>
<body>

<div class="logout"><a href="{{ logout_url }}">Logout</a></div>

<div class="wall">
{% for note in notes %}

	<div class="note" style="
		left: {{ note.x }}px;
		top: {{ note.y }}px;
		width: {{ note.width }}px;
		height: {{ note.height }}px;
		z-index: {{ note.z }};
		" data:id="{{ note.key.id }}"
	>
		<form action="/delete_note" method="POST"><input type="hidden" name="id" value="{{ note.key.id }}"><input type="submit" value="X"></form>
		{{ note.text|escape }}
	</div>

{% endfor %}
</div>

<hr>

<form action="/add_note" method="POST">
	<div>
		<textarea name="text"></textarea>
	</div>

	<div>
		<input type="number" name="x" min="0">,
		<input type="number" name="y" min="0">,
		<input type="number" name="z" min="0">
	</div>

	<div>
		<input type="number" name="width" min="50"> x 
		<input type="number" name="height" min="50">
	</div>
	<div>
		<input type="submit">
	</div>
</form>

<input type="button" id="clear_wall" value="Clear wall">
<input type="button" id="load_from_ajax_button" value="Load from AJAX">

<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>
