<!DOCTYPE html>
{# vi:set filetype=htmldjango : #}
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Sticky Note Wall</title>
<link type="text/css" rel="stylesheet" href="/css/notewall.css">

</head>
<body>

<div class="logout"><a href="{{ logout_url }}">Logout</a> from <em>{{ user.nickname }}</em></div>

<div class="wall">
</div>

<input type="button" id="load_from_ajax_button" value="Load from AJAX">

<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>
